# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
dist/
*.egg-info/
*.egg
*.wheel
*.manifest

# PyInstaller
#  Usually contains the compiled output and build files
/build/
/dist/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/

# Pytest
.cache/

# Environments
.env
.venv
ENV/
env.bak/
venv.bak/
